<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailPackage">
  <select id="selectPackage" resultType="com.hanbit.vo.PackageVo">
    select * from package where item_key = #{item_key}
  </select>
  <select id="selectImage" resultType="com.hanbit.vo.ImageVo">
  	select * from image where item_key=#{item_key}
  </select>
   <select id="selectSchedule" resultType="com.hanbit.vo.ScheduleVo">
  	select * from schedule where item_key=#{item_key}
  </select>
  <select id="btnSu" resultType="Integer">
  	select count(*) from schedule where item_key=#{item_key}
  </select>
  <select id="selectSubPackage" resultType="com.hanbit.vo.SubPackageVo">
  	select item_key_sub,item_key,price_sub,to_char(d_date,'YYYY-MM-DD hh:mm') d_date,to_char(a_date,'YYYY-MM-DD hh:mm') a_date,airplane,reser_sub from subPackage where item_key=#{item_key}
  </select>
  <select id="detailSubPackage" resultType="com.hanbit.vo.SubPackageVo">
  select item_key_sub,item_key,price_sub,to_char(d_date,'YYYY-MM-DD hh:mm') d_date,to_char(a_date,'YYYY-MM-DD hh:mm') a_date,airplane,reser_sub from subPackage where item_key_sub=#{item_key_sub}
  </select>
  <select id="insertOrder" resultType="Integer" >
  insert into orders values(seq_orders.nextval,#{item_key},#{item_key_sub},#{orders_su},#{ageGroup},#{mem_id}, sysdate,#{totPrice},'yet')
  </select>
  <select id="addHit" resultType="Integer" >
  update package set hit=hit+1 where item_key =#{item_key}
  </select>
</mapper>